.list-of-quizzes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 120px;
    height: auto;
    justify-self: center;
    align-self: center;
    margin-top: 3%;
    border-radius: 35px;
    border: 3px solid #1BE985;
    background: radial-gradient(9.43% 68.08% at -11.95% 32.49%, #F7FEFB 0%, #99F5C8 100%);
    flex-direction: column;
    color: black;
    
}


.quiz-title{
    width: 90%;
    height: auto;
    background: radial-gradient(circle at 20% 20%, #c0ffe4 0%, #99f5c8 100%);
    border: 2px solid #1be985;
    border-radius: 15px;
    cursor: pointer;
    transition: transform ease-in-out .3s;
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
}

.quiz-title:hover{
    transform: scale(1.05);
    background-color: #e4fdf1;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    vertical-align: middle;
}
input[type="checkbox"]:checked{
    background-color: #1be985;
    border: 2px solid #1be985;
}


input[type="checkbox"]:checked:hover{
    background-color: #1be985;
    border: 2px solid #1be985;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    vertical-align: middle;
}
input[type="radio"]:checked{
    background-color: #1be985;
    border: 2px solid #1be985;
}
input[type="radio"]:checked:hover{
    background-color: #1be985;
    border: 2px solid #1be985;
}
