.stats-container{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: lato, sans-serif;
    color: black;
}
.stats-container .statistics-container{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    padding: 1%;
}

.stats-container .statistics-container .personal-info,.stats-container .statistics-container .solved-quizzes 
,.stats-container .statistics-container .saved-notes{
    background: radial-gradient(9.43% 68.08% at -11.95% 32.49%, #F7FEFB 0%, #99F5C8 100%);
    width: 95%;
    height: 33%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 0 0 3% 0;
}

.stats-container .statistics-container .personal-info .profile-info-container{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto 2px 15px 2px;
}

.stats-container .statistics-container .personal-info .profile-info-container img{
    border-radius: 15px;
    border: 1px solid black ;
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    aspect-ratio: 1 / 1;
}

.stats-container .statistics-container .personal-info .profile-info-container p{
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto 0 auto 0;
}

.stats-container .statistics-container .personal-info .personal-records-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    align-self: center;
    
}
.stats-container .statistics-container .personal-info .personal-records-container .single-stat-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;

    margin: auto 2% auto 2%;
}

.stats-container .statistics-container .personal-info .personal-records-container .single-stat-container .progress-bar{
    width: 70%;
    height: auto;
    align-self: center;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}
.stats-container .statistics-container .personal-info .personal-records-container .single-stat-container p{
    font-weight: bold;
    font-size: 1.3rem;
    margin: 10px 2px;
}

.statistics-container .solved-quizzes .solve-problems{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.statistics-container .solved-quizzes .solve-problems img{
    height: 80%;
    margin: 2%;
}

.statistics-container .solved-quizzes .solve-problems .invite-to-solve h4{
    cursor: pointer;
}
.stats-container .statistics-container .saved-notes .empty-folder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stats-container .statistics-container .saved-notes .empty-folder img{
    height: 100px;
    width: auto;
}